// Palette: morado (purple) y blanco
:root {
	--ion-color-primary: #6f2dbd; // morado principal
	--ion-color-primary-rgb: 111,45,189;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #6130a8;
	--ion-color-primary-tint: #7e3fd0;

	--ion-color-secondary: #ffffff;
	--ion-color-secondary-rgb: 255,255,255;
	--ion-color-secondary-contrast: #6f2dbd;

	--ion-background-color: #ffffff;
	--ion-text-color: #2c2c2c;
}

// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
