// 1. Forzamos altura completa para evitar pantalla blanca
:host {
  display: block;
  height: 100%;
}

// 2. Fondo general de la página
.login-content {
  --background: #f4f5f8;
}

// 3. Contenedor principal
.login-page {
  --primary-purple: #6200ea; /* Variable del color morado */
  
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

// 4. Centrado en tablets/PC
.login-container {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

/* --- ESTILOS VISUALES --- */

/* Círculo del icono principal */
.header-icon {
  background: linear-gradient(135deg, #6200ea 0%, #b388ff 100%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 10px 20px rgba(98, 0, 234, 0.3);
}

.header-title {
  color: #4a148c; /* Morado oscuro */
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 5px;
  text-align: center;
}

.subtext {
  color: #7e57c2; 
  margin-top: 0; 
  font-weight: 500;
  text-align: center;
}

/* Inputs (Cajas blancas) */
.custom-input {
  --background: #ffffff;
  --border-radius: 12px;
  --padding-start: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.03);
  border-radius: 12px;
}

/* Iconos morados dentro de los inputs */
.input-icon {
  color: #6200ea;
  font-size: 1.4rem; 
  margin-right: 10px;
  align-self: center; 
  margin-top: 15px; /* Ajuste para alinear con el texto */
}

/* Etiquetas (Correo/Contraseña) */
ion-label {
  font-weight: 600 !important;
  color: #666 !important;
  font-size: 0.9rem !important;
}

/* Texto que escribe el usuario */
ion-input {
  --color: #333 !important; /* Negro para que se vea bien */
  --placeholder-color: #aaa;
  --placeholder-opacity: 0.8;
}

/* Botón INGRESAR */
.btn-purple {
  --background: #6200ea;
  --border-radius: 12px;
  --box-shadow: 0 4px 10px rgba(98, 0, 234, 0.4);
  font-weight: 700;
  margin-top: 25px;
  height: 50px;
}

/* Botón CREAR CUENTA */
.btn-outline-purple {
  --color: #6200ea;
  --border-color: #6200ea;
  --border-width: 2px;
  --border-radius: 12px;
  font-weight: 700;
  margin-top: 15px;
  height: 50px;
}