// 1. Configuración base
:host {
  display: block;
  height: 100%;
}

.login-content {
  --background: #f4f5f8;
}

.login-page {
  --primary-purple: #6200ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 40px; /* Un poco más de espacio abajo por el scroll */
}

.login-container {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

/* Cabecera */
.header-icon {
  background: linear-gradient(135deg, #6200ea 0%, #b388ff 100%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 10px 20px rgba(98, 0, 234, 0.3);
}

.header-title {
  color: #4a148c;
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 5px;
  text-align: center;
}

.subtext {
  color: #7e57c2; 
  margin-top: 0; 
  font-weight: 500;
  text-align: center;
}

/* Inputs */
.custom-input {
  --background: #ffffff;
  --border-radius: 12px;
  --padding-start: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.03);
  border-radius: 12px;
}

/* Iconos */
.input-icon {
  color: #6200ea;
  font-size: 1.4rem; 
  margin-right: 10px;
  align-self: center; 
  margin-top: 15px;
}

/* Etiquetas */
ion-label {
  font-weight: 600 !important;
  color: #666 !important;
  font-size: 0.9rem !important;
}

/* Texto input */
ion-input {
  --color: #333 !important;
  --placeholder-color: #aaa;
  --placeholder-opacity: 0.8;
}

/* Botón Principal */
.btn-purple {
  --background: #6200ea;
  --border-radius: 12px;
  --box-shadow: 0 4px 10px rgba(98, 0, 234, 0.4);
  font-weight: 700;
  margin-top: 25px;
  height: 50px;
}

/* Botón de texto simple (Volver) */
.btn-text {
  --color: #7e57c2;
  font-weight: 600;
  margin-top: 10px;
  text-transform: none; /* Mayúsculas y minúsculas naturales */
  font-size: 0.9rem;
}