<ion-header>
  <ion-toolbar>
    <ion-title>Método de pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group [(ngModel)]="metodo">
      <ion-item>
        <ion-label>Efectivo</ion-label>
        <ion-radio slot="start" value="efectivo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Yape</ion-label>
        <ion-radio slot="start" value="yape"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Plin</ion-label>
        <ion-radio slot="start" value="plin"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block" (click)="seleccionar()">Continuar</ion-button>
</ion-content>
